@import "../../styles.scss";

.header {
  color: $fontColor;
  background-color: $backgroundColor;
  font-family: $headerFont;
  padding: 5vh 3vw 2vh 2vw;
  width: 38vw;
  text-shadow: 2px 2px red;

  h1 {
    margin: 0;
    font-size: 7vw;
  }
  p {
    margin: 0;
    font-size: 6vw;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    margin: auto;
    padding: 8vh 4vw 1vh 5vw;
    width: 80vw;
    display: block;
    text-shadow: 0.9px 0.9px red;
    h1 {
      margin: 0;
      font-size: 9vh;
    }
    p {
      margin: 0;
      font-size: 8vw;
    }
    .frontend {
      display: flex;
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    margin: 0;
    padding: 8vh 4vw 1vh 5vw;
    h1 {
      font-size: 8vh;
    }
  }
}
