@import "../../styles.scss";

.header {
  font-family: $headerFont;
  padding: 3vmax 3vw 2vh 2vw;
  width: 38vw;
  color: black;
  a,
  a:visited {
    text-decoration: none;
    color: $fontColor;
    text-shadow: 0.09vw 0.2vh rgb(253, 0, 63);
  }

  h1 {
    margin: 0;
    font-size: 8vw;
    letter-spacing: 0.4vw;
  }
  p {
    margin: 0;
    font-size: 6vw;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    width: 90%;
    text-shadow: 0.9px 0.9px rgb(253, 0, 63);
    margin: auto;
    a {
      h1,
      p {
        font-size: 13vw;
        width: 90%;
        display: block;
        margin: auto;
      }
    }
  }
}
