<div class="footer">
  <div class="footer-content">
    <ul>
      <li>
        <a href="mailto:mckurin@gmail.com"
          ><img src="/assets/email-round-solid-icon.svg" alt="email logotype" />
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/martina-kurin-355334178/"
          ><img src="/assets/linkedin-round-icon.svg" alt="linkedin logotype"
        /></a>
      </li>
      <li>
        <a href="https://mobile.twitter.com/suchascorpio1"
          ><img src="/assets/twitter-round-icon.svg" alt="twitter logotype"
        /></a>
      </li>
      <li>
        <a href="https://github.com/hashedSelkie"
          ><img src="/assets/github-icon.svg" alt="github logotype"
        /></a>
      </li>
    </ul>
  </div>
</div>
