@import "../../styles.scss";

.about-wrapper {
  display: flex;
  margin: 11vh 0;
  .about-top {
    h2 {
      font-family: "Data";
      font-size: 3em;
      margin: 0 auto;
      color: $fontColor;
    }
    img {
      height: 22%;
      width: auto;
      margin: auto;
      display: block;
      margin: 50px auto;
    }
    p,
    h3 {
      font-family: "Calibri", sans-serif;
      font-size: 1.5em;
      color: $fontColor;
    }
  }
}

@media screen and (max-width: 950px) {
  .about-wrapper {
    margin: 5vh auto;

    .about-top {
      width: 90%;
      margin: auto;
      h2 {
        font-size: 2em;
      }
      img {
        height: auto;
        width: 80%;
        margin: auto;
        display: block;
        margin: 50px auto;
      }
      p,
      h3 {
        font-family: "Calibri", sans-serif;
        font-size: 1.1em;
        color: $fontColor;
      }
      p {
        width: 100%;
      }
    }
  }
}
