<h2>Contact</h2>
<form
  action="https://formsubmit.co/c2d69ec079198f16325149924b6cf73a"
  method="POST"
>
  <input type="text" name="name" placeholder="Name *" required />
  <input type="hidden" name="_next" value="http://localhost:4200/thank-you" />
  <div class="col">
    <input
      type="email"
      name="email"
      class="form-control"
      placeholder="Email Address *"
      required
    />
  </div>
  <input type="text" name="_subject" placeholder="Subject" />
  <div class="form-group">
    <textarea
      placeholder="Your Message"
      name="message"
      rows="10"
      required
    ></textarea>
  </div>

  <button type="submit">Send</button>
</form>
