@import "../../styles.scss";

.menu-wrapper {
  width: auto;
  min-width: 400px;
  position: sticky;
  top: 25vh;
  background-color: #1a3c50;
  a,
  a:hover,
  a:visited {
    text-decoration: none;
    color: $fontColor;
    h1,
    p {
      font-family: "Data";
      margin: 0;
    }
    h1 {
      font-size: 5.5em;

      text-shadow: 1px 1px $shadowColor, 2px 2px $shadowColor,
        3px 3px $shadowColor, 4px 4px $shadowColor, 5px 5px $shadowColor;
    }
    p {
      font-size: 3.5em;
      color: $fontColor;
      text-shadow: 1px 1px $shadowColor, 2px 2px $shadowColor,
        3px 3px $shadowColor;
    }
  }
  ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: left;
    font-family: "Calibri";
    font-size: 1.5em;
    li {
      width: 100px;
      a:hover,
      .on-page {
        font-style: italic;
      }
    }
  }
}
