@import "../../styles.scss";
.overlayMenu {
  display: none;
}

#desktop-menu {
  min-height: 4vh;
  padding: 1vh 0.5vw 1vh 0.5vw;
  width: auto;
  margin: 0;

  i {
    display: none;
  }
  ul {
    padding: 10px 0 0 0;
    display: flex;
    list-style: none;
    margin: 0 auto 0 auto;
    justify-content: right;
    li {
      margin: 0;
      font-family: "Neue Reman";
      text-transform: uppercase;
      padding: 1vh 3vw 1vh 3vw;
    }
    a,
    a:visited {
      text-decoration: none;
      display: inline-block;
      color: black;
      text-align: center;
    }
    div {
      height: 25px;
    }
    div > p {
      margin: auto;
      transition: transform 0.7s ease-out;
    }
    div:hover > p {
      transform: rotateY(180deg);
    }
    .on-page {
      text-decoration: underline;
      text-underline-offset: -1.3em;
    }
  }
}

@media screen and (max-width: 1024px) {
  #desktop-menu {
    padding: 0;
    ul {
      display: none;
    }
    .fa-bars {
      display: block;
      padding: 3vw;
      font-size: 2em;
      text-shadow: red 0.5px 0.5px;
      text-align: right;
    }
  }
  .overlayMenu {
    display: block;
    width: 100vw;
    height: 0%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: $backgroundColor;
    overflow-x: hidden;
    transition: 0.5s;
    .fa-x {
      display: block;
      padding: 3vw;
      font-size: 2em;
      text-shadow: red 0.5px 0.5px;
      text-align: right;
    }
  }
  .mobmenu {
    position: relative;
    top: 10%;
    width: 100%;
    text-align: center;
    margin: 10px 0 50px 0;
    font-family: "Neue Reman";
    text-transform: uppercase;
    font-size: 5vmax;
    a,
    a:visited {
      display: block;
      text-decoration: none;
      color: black;
      text-shadow: red 0.7px 0.7px;
      margin: 10vh 0 10vh 0;
    }
  }
}
