.menu {
  height: 4vh;
  padding: 1vh 0.5vw 1vh 0.5vw;
  ul {
    display: flex;
    list-style: none;
    margin: 0 auto 0 auto;
    justify-content: right;
    li {
      margin: 0;
      font-family: "Neue Reman";
      text-transform: uppercase;
      padding: 1vh 3vw 1vh 3vw;
    }
    a,
    a:visited {
      text-decoration: none;
      display: inline-block;
    }
    div {
      height: 2vh;
    }
    div > p {
      margin: auto;
      transition: transform 1s ease-out;
    }
    div:hover > p {
      transform: rotateY(180deg);
    }
    .on-page {
      font-weight: bold;
    }
  }
}
