<div id="desktop-menu">
  <div id="mobile">
    <i (click)="openMenu($event)" class="fa-solid fa-bars"></i>
  </div>
  <ul>
    <li>
      <a routerLink="/home" routerLinkActive="on-page">
        <div><p>Home</p></div></a
      >
    </li>
    <li>
      <a routerLink="/portfolio" routerLinkActive="on-page">
        <div><p>Portfolio</p></div></a
      >
    </li>
    <li>
      <a routerLink="/about" routerLinkActive="on-page">
        <div><p>About</p></div></a
      >
    </li>
  </ul>
</div>
<div class="overlayMenu" id="myNav">
  <i (click)="closeMenu($event)" class="fa-solid fa-x"></i>
  <div class="mobmenu">
    <a routerLink="/home" (click)="closeMenu($event)">Home</a>
    <a routerLink="/portfolio" (click)="closeMenu($event)">Portfolio</a>
    <a routerLink="/about" (click)="closeMenu($event)">About</a>
  </div>
</div>
