@import "../../styles.scss";

.portfolio-wrapper {
  width: 300px;
  position: sticky;
  top: 35vh;
  margin: auto;
  img {
    width: 30%;
    max-width: 300px;
    min-width: 100px;
    display: block;
    margin: auto;
  }
}
