#portfolio {
  width: 50vw;

  .portfolio-content {
    margin: 5vmax 0 0 0;
    p {
      font-family: "Consolas";
      text-transform: uppercase;
      text-align: center;
      font-size: 2em;
    }
    img {
      max-width: 20vmax;
      margin: auto;
      display: block;
    }
  }
}

@media screen and (max-width: 1024px) {
  #portfolio {
    margin: auto;
    .portfolio-content {
      margin: 10vmax 0 7vmax 0;
      p {
        font-size: 1.5em;
      }
    }
  }
}
