#portfolio {
  background-color: white;
  position: relative;
  font-family: "Salma";
  .portfolio-content {
    position: absolute;
    top: 6vh;
    right: 3vw;
    position: relative;
    font-size: 1.8vw;
    text-shadow: 0.5px 0.5px red;
    #under {
      margin: 0;
      width: 40vw;
      line-height: 4.4vh;
      letter-spacing: 0.1vw;
      position: absolute;
      top: 30vh;
      left: -0.5vw;
      text-align: center;
      rotate: (-45deg);
    }
    #construction {
      margin: 0;
      width: 40vw;
      line-height: 4.4vh;
      letter-spacing: 0.1vw;
      position: absolute;
      top: 30vh;
      left: 11vw;
      text-align: center;
      rotate: (45deg);
    }
    #robo1 {
      position: absolute;
      top: 30vh;
      left: 20vw;
      width: 10vw;
    }
  }
}

@media screen and (max-width: 1024px) {
  #portfolio {
    position: relative;
    font-family: "Salma";
    .portfolio-content {
      position: absolute;
      top: 6vh;
      right: 8vw;
      position: relative;
      font-size: 4vh;
      text-shadow: 0.5px 0.5px red;
      #under {
        top: 6vh;
        left: 10vw;
      }
      #construction {
        top: 5vh;
        left: 50vw;
      }
      #robo1 {
        top: 8vh;
        left: 25vw;
        width: 50vw;
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
