@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@font-face {
  font-family: "Neue Reman";
  src: url(../fonts/NeueRemanSans-Regular.otf);
}

@font-face {
  font-family: "Data";
  src: url(../fonts/data.otf);
}

@font-face {
  font-family: "Regular";
  src: url(../fonts/Resultat-Regular.otf);
}

@font-face {
  font-family: "Salma";
  src: url(../fonts/SalmaalfasansLight.otf);
}

@font-face {
  font-family: "Major Mono";
  src: url(../fonts/MajorMonoDisplay-Regular.ttf);
}

$headerFont: "Data";

$shadowColor: rgb(255, 146, 4);
$fontColor: white;
$headerColor: rgb(251 142 0);

body {
  background-color: rgba(2, 39, 61, 0.9);
  margin: 0;

  .head-content {
    display: flex;
    justify-content: center;
    height: auto;
    min-height: 100vh;
    .spacer {
      width: 70px;
    }
    main {
      width: 400px;
      margin-top: 15vh;
    }
  }
}
