@import "../../styles.scss";

.home-wrapper {
  width: 300px;
  position: sticky;
  top: 40vh;
  margin: auto;
  img {
    width: 100px;
    display: block;
    margin: auto;
    filter: invert(100%);
  }
}

@media screen and (max-width: 950px) {
  .home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 40vh;
  }
}
