@import "../../styles.scss";

#home {
  color: $fontColor;
  font-family: "Salma";
  position: relative;

  p {
    margin: 0;
    width: 40vw;
    font-size: 1.5vw;
    line-height: 4.4vh;
    letter-spacing: 0.1vw;
    position: absolute;
    top: 40vh;
    left: 10vw;
    text-align: right;
  }
}
